body {
margin: 0;
font-family: 'Georgia', sans-serif;
}
        
* {
box-sizing: border-box;
}

/* Header */

.header {
    background: url(..//img/bgheader.jpg) center no-repeat;
    background-size: cover; 
}
.headerlogo__title {
    font-size: 32px;
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    color: #f1cdb3;
    margin-bottom: 0;
}
.headerlogo__subtitle {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Arial', sans-serif;
    color: #fff;
}

/* Navigation */

.navbar__container {
    display: flex;
    justify-content: space-between;
}
.navigation__item a {
    font-size: 15px;
    font-family: 'Arial', sans-serif;
    color: #fff;
    opacity: .75;
    text-decoration: none;
    margin-left: 38px;
    padding: 0;
}
.navigation__item a:hover {
    opacity: 1;
    border-bottom: 3px solid #f1cdb3;
    transition: .2s linear;
}
.navbar-expand-lg 
.navbar-nav 
.nav-link {
    padding-right: 0;
    padding-left: 0;
}

/* Intro */
.intro {
    margin-top: 200px;
    padding-bottom: 200px;
}

.intro__title {
    font-size: 44px;
    font-weight: 400;
    font-family: 'Georgia', sans-serif;
    color: #fff;
    margin-bottom: 0;
}
.intro__subtitle {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Arial', sans-serif;
    color: #cdcdcd;
    margin-bottom: 0;
    padding-top: 43px;
}
.intro__btn {
    margin-top: 45px;
    font-family: 'Georgia', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #292929;
    background-color: #f1cdb3;
    border: none;
    border-radius: 40px;
    padding: 18px 45px;
}

/* About the shelter */
.shelter__section {
    background-color: #fafafa;
}
.shelter {
    padding-top: 90px;
    padding-bottom: 90px;
}
.shelter__title {
    font-family: 'Georgia', sans-serif;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    color: #545454;
    line-height: 1.6;
}
.shelter__subtitle {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #4c4c4c;
    line-height: 1.6;
}


/* Slider */
.section {
    background-color: #f6f6f6;
}
.sl__slide {
    background-color: #fafafa;
    margin-left: 50px;
    margin-bottom: 65px;
}


.sl__slide:first-child {
    margin-left: 0;
}
.sl__desc {
    text-align: center;
    padding-bottom: 20px;
}
.sl__title {
    padding-top: 77px;
    padding-bottom: 62px;
}
.sl__text {
    text-align: center;
}
.sl__button {
    padding: 8px 30px;
    border: 3px solid #f1cdb3;
    border-radius: 40px;
    color: #000;
    font-weight: 400;
    font-size: 17px;
    text-decoration: none;
    transition: color .1s linear;
    margin-bottom: 37px;
}
.sl__button:hover {
    background-color: #f1cdb3;
    color: #333;
}
.sl__img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* Arrows */
.slick-prev {
    position: absolute;
    left: -115px;
    top: 220px;
    background-color: #f6f6f6;
    border-radius: 50px;
    border: 2px solid #f1cdb3;
    width: 70px;
    height: 70px;
}
.slick-prev:hover {
    background-color: #f1cdb3;
}
.slick-next {
    position: absolute;
    right: -60px;
    top: 220px;
    background-color: #f6f6f6;
    border-radius: 50px;
    border: 2px solid #f1cdb3;
    width: 70px;
    height: 70px;
}
.slick-next:hover {
    background-color: #f1cdb3;
}
.sl__buttonfinder {
    padding: 8px 30px;
    border: 3px solid #f1cdb3;
    border-radius: 40px;
    color: #000;
    font-weight: 400;
    font-size: 17px;
    text-decoration: none;
    transition: color .1s linear;
}
.sl__buttonfinder:hover {
    background-color: #f1cdb3;
    color: #333;
}
.sl__finder {
    text-align: center;
    padding-bottom: 65px;
}

/* Help section */
.section__help {
    background-color: #fafafa;
}
.logos__help {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 -15px;
    text-align: center;
}
.help__title {
    font-family: 'Georgia', sans-serif;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    color: #545454;
    line-height: 1.6;
    padding: 60px 0;
}
.logos__item {
    padding: 0 50px;
}
.logos__img {
    display: block;
    max-width: 100%;
    height: auto;
}
.logos__help {
    padding-bottom: 75px;
}
.logos__text {
    text-align: center;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .logos__item {
        width: 33.33333%;
    }
    .logos__img {
        margin: 0 auto;
    }
}

@media (max-width: 767.98px) {
    .logos__item {
        width: 50%;
    }
    .logos__img {
        margin: 0 auto;
    }
    
}
@media (max-width: 575.98px) {
    .logos__item {
        width: 100%;
    }
    .logos__img {
        margin: 0 auto;
    }
    .shelter__title {
        font-size: 25px;
    }
    .help__title {
        padding: 20px 0;
    }
}

/* Donation */
.donation__img {
    padding-top: 80px;
}
.donation__info {
    text-align: left;
}
.donation__title {
    font-size: 35px;
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    color: #545454;
    padding-top: 75px;
}
.donation__subtitle {
    font-size: 15px;
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    color: #545454;
    padding-top: 24px;
}
.donation__text {
    font-size: 12px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #545454;
    margin-bottom: 80px;
}
.donation__card {
    font-size: 30px;
    background-color: #f1cdb3;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    margin: 15px 0;
}
.donation__numbers {
    font-size: 20px;
    font-family: 'Times New Roman', sans-serif;
    margin-bottom: 0;
}
.fa-credit-card {
    padding-right: 10px;
}
@media (max-width: 1199.98px) {
    .donation__img {
        text-align: center;
    }
    .donation__info {
        text-align: center;
    }
    .donation__img,
    .donation__title {
        padding-top: 40px;
    }
    .donation__text {
        font-size: 20px;
    }
}
@media (max-width: 767.98px) {
    .donation__img {
        display: none;
    }
}
@media (max-width: 575.98px) {
    .donation__title {
        padding-top: 20px;
    }
    .donation__subtitle {
        padding-top: 15px;
    }
    .donation__text {
        font-size: 18px;
    }
}

/* Footer */
.footer {
    background: url(..//img/footer/footerbg.jpg) center no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.footer__title {
    font-size: 35px;
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    color: #fff;
}
.footer__questions {
    padding-top: 80px;
    margin-bottom: 70px;
}
.footer__mail,
.footer__phone,
.footer__map {
    display: flex;
    font-family: 'Times New Roman', sans-serif;
    font-size: 20px;
    color: #f1cdb3;
    align-items: center;
    margin-top: 30px;
}
.footer__phone i, p {
    margin-bottom: 0;
}
.fa-envelope,
.fa-phone-volume,
.fa-map-marker-alt {
    font-size: 40px;
    padding-right: 10px;
}
@media (max-width: 1199.98px) {
    .footer__questions {
        padding-top: 40px;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer__mail,
    .footer__phone,
    .footer__map {
        display: block;
    }
}